<nav id="sidebar" class="border-top border-secondary">
    <div class="list-group">
        <a class="rounded-0 list-group-item list-group-item-action list-group-item-light {% if category.name == 'qna'  %}active{% endif %}" href="{% url 'board:question_list' 'qna' %}">질문과답변</a>
        <a class="rounded-0 list-group-item list-group-item-action list-group-item-light {% if category.name == 'free' %}active{% endif %}" href="{% url 'board:question_list' 'free' %}">자유게시판</a>
       <!--- <a class="rounded-0 list-group-item list-group-item-action list-group-item-light {% if category.name == 'tip'  %}active{% endif %}" href="{% url 'board:question_list' 'tip' %}">팁과강좌</a>
        <a class="rounded-0 list-group-item list-group-item-action list-group-item-light {% if category.name == 'quiz' %}active{% endif %}" href="{% url 'board:question_list' 'quiz' %}">파이썬퀴즈</a>
        <a class="rounded-0 list-group-item list-group-item-action list-group-item-light {% if category.name == 'bug' %}active{% endif %}" href="{% url 'board:question_list' 'bug' %}">버그및건의</a>---->
        <a class="rounded-0 list-group-item list-group-item-action list-group-item-light {% if category.name == 'picture' %}active{% endif %}" href="{% url 'board:question_list' 'picture' %}">사진</a>
    </div>
</nav>

<ul class="my-3 small" style="padding-left:2em;">
    <li class="my-1"><a href="https://naver.com" target="_blank">네이버</a></li>
    <li class="my-1"><a href="https://daum.net" target="_blank">다음</a></li>
    <li class="my-1"><a href="https://nate.com" target="_blank">네이트</a></li>
</ul>